.card {
  border-radius: 5px; }
  .card-body {
    display: flex; }
    .card-body-description {
      border-left: 2px solid #eeeeee;
      padding-left: 15px; }
      .card-body-description-title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.07px; }
      .card-body-description-summary {
        color: #777777;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.06px;
        line-height: 19px; }
      .card-body-description-link {
        color: #2cbc75;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.05px;
        line-height: 19px;
        text-transform: uppercase; }
