.event-date {
  padding-right: 30px; }
  .event-date .day {
    font-size: 30px;
    font-weight: 700; }
  .event-date .month {
    color: #777777;
    font-size: 16px;
    text-transform: uppercase; }

.event-full .node__title {
  border-left: 2px solid #eeeeee;
  padding-left: 30px;
  font-size: 40px;
  font-weight: 700; }

.event-full .event-location-text {
  margin: 30px auto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.12px; }

.event-full .simple-gmap-static-map img {
  max-width: 100%; }

.block-views-blockattendants-block-1 {
  margin: 40px auto; }
  .block-views-blockattendants-block-1 h2 {
    font-size: 20px;
    font-weight: 700; }
  .block-views-blockattendants-block-1 .view-content {
    color: #2cbc75;
    font-size: 18px;
    line-height: 23px; }
    .block-views-blockattendants-block-1 .view-content .views-row {
      padding-right: 5px;
      margin-right: 5px; }
      .block-views-blockattendants-block-1 .view-content .views-row:not(:last-child) {
        border-right: 2px solid #2cbc75; }

.event-buttons {
  margin: 40px auto; }
